.shop-bg{
    background-image: url("https://www.tesla.com/ns_videos/commerce/content/dam/tesla/tesla-shop-marketing-imagery/hero-carousel/wall-connector-gen3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}