.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    list-style-type: none;
    margin-top: 50px;
}

.pagination a {
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
}

.pagination a:hover {

}


.activeBtn a {
    color: black;
}
